version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: auth_db_container
    restart: always
    # .env dosyasındaki MYSQL_ROOT_PASSWORD gibi değişkenleri buraya eşliyoruz
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - auth_network

  api:
    build: .
    container_name: auth_api_container
    restart: always
    ports:
      - "3000:3000"
    # .env dosyasını otomatik olarak bu konteynerin içine yükler
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - auth_network
networks:
  auth_network:
    driver: bridge

volumes:
  db_data: